/* 
font-family: 'Oswald', sans-serif;
 */

h1 {
    color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.questionNum {
    color: blue;
}

#footer-text {
    font-size: 12px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    color: #949494;
}

.form-group {
    width: 75%;
}

.modal-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#bestMatch-photo {
    display: flex;
    border: 3px solid blue;
    width: 100%;
}